<widget-modal widget-modal-title="Configure Deploy Environment Widget">
    <form class="deploy-config" name="configForm" ng-submit="deployConfig.submit(configForm.$valid)" novalidate="novalidate">
        <form-group input="selectedEnvs" errors="{required:'Please select your Environments'}">
            <label class="modal-label">
                Available Environments:
            </label>
            <select name="deployEnv"
                    class="form-control"
                    ng-model="deployConfig.deployAllEnv"
                    ng-options="env.name for env in deployConfig.deployAllEnvs | orderBy: 'name' track by env.value"
                    ng-disabled="deployConfig.envsDropdownDisabled"
                    ng-dblclick="deployConfig.copyEnv()"
                     multiple>
                <option value="">{{deployConfig.jobDropdownPlaceholder}}</option>
            </select>

            <div class="button-row row text-center">
                <button type="button" class="btn btn-primary btn-wide pull-left" ng-click="deployConfig.copyEnv()"> Add </button>
                <button type="button" class="btn btn-primary btn-wide pull-right" ng-click="deployConfig.removeEnv()"> Remove </button>
            </div>

            <label class="modal-label">
                Selected Environments:
            </label>
            <!--<input type="label" class="form-control" name="envs" ng-model="deployConfig.envs"></input>-->
            <select name="selectedEnvs" class="form-control" ng-model="deployConfig.deploySelectedEnvs"
                    ng-options="env.name for env in deployConfig.envs track by env.value"
                    multiple required ng-dblclick="deployConfig.removeEnv()">

            </select>


        <hr/>

        <div class="form-group text-center hidden">
            <label class="modal-label">
                Alert takeover criteria:
            </label>
            <br/>
            If any environment is down
        </div>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
        </form-group>
    </form>
</widget-modal>