@import (reference) '../../../app/css/variables.less';
@import (reference) '../../../app/css/mixins.less';

.deploy-all{
  font-size:10pt;
}

.deploy-all {
    .project-group{
        font-size:12pt !important;
        padding-top:10px;
    }
    .table-header{
        background-color:grey;
        font-size:12pt;
        font-weight:bold;
        height:25px;
    }
    .row-border{
        border-bottom:1px solid grey;
    }
    .table-width{
        width:100%;
    }
    td    {padding: 6px important;}

}

