#Database Name 
database=dashboard

#Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

#Database Username - default is blank
dbusername=

#Database Password - default is blank
dbpassword=

#Collector schedule (required)
sbux.cron=0 * * * * *

sbux.url=http://ms01242.starbucks.net/TestDatabaseAPI

#Maximum number of days to go back in time when fetching data
sbux.days=5