<div class="deploy-view">
    <div class="pull-right">Select Environment</div><br/>
    <div class="col-xs-9.5 text-standard-sm dash-overflow">
        <select class="form-control deploy-select-env" ng-model="query">
            <option ng-repeat="environment in deployView.environments">
                {{environment.name}}
            </option>
        </select>
    </div>

    <table class="table">
        <tr class="dash-row">
            <td>
                
            </td>
        </tr>
        <tr class="dash-row clickable" ng-repeat="environment in deployView.environments | filter:query" ng-click="deployView.showDetail(environment)">
            <td>
                <span
                        dash-status="{{environment.failedComponents > 0 ? deployView.statuses.FAIL : deployView.statuses.PASS}}"
                        dash-status-fail-text="{{environment.failedComponents}}"></span>
            </td>
            <td class="dash-overflow environment-name">
                {{environment.name}}
            </td>
            <td class="text-standard-date">
                {{environment.lastUpdated | fromNow}}
            </td>
            <td class="server-count" ng-class="{'servers-up' : environment.serverUpCount > 0}">
                {{environment.serverUpCount}}
                <span class="fa fa-arrow-up"></span>
            </td>
            <td class="server-count" ng-class="{'servers-down' : environment.serverDownCount > 0}">
                {{environment.serverDownCount}}
                <span class="fa fa-arrow-down"></span>
            </td>
        </tr>
    </table>
</div>
