<widget-modal widget-modal-close="true">
    <div class="widget-detail deploy-detail">
        <div class="widget-detail-heading widget-pushup">
            <div class="row">
                <!-- {{detail}} -->
                <div class="col-md-4">
                    <!--<span class="dash-status-lg"-->
                          <!--dash-status="{{detail.tests.totalPassed > 0 ? detail.statuses.FAIL : detail.statuses.PASS}}"></span>-->
                    <span class="environment-name">{{detail.environmentName}}</span>
                </div>

                <div class="col-md-3 last-updated">
                    {{detail.testResults.timestamp | date:'MMM d, HH:mm:ss'}}
                </div>

                <div class="col-md-2 server-count">
                    <span class="green">
                        {{detail.testResults.totalPassed}}<span class="fa fa-arrow-up"></span>
                    </span>
                    <span class="red">
                        {{detail.testResults.totalFailed}}<span class="fa fa-arrow-down"></span>
                    </span>
                    <span class="brown">
                        {{detail.testResults.totalNotrun}}<span class="fa fa-exclamation"></span>
                    </span>
                </div>
                <div class="col-md-3 view-in-tool pushup">
                    <a ng-href="http://ms01242.starbucks.net/TestPortal/Home/ReportManagement" target="_blank">
                        View in portal <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12">
                    <div class="progress" ng-show="(detail.testResults.totalPassed > 0)">
                        <div  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{(detail.testResults.totalPassed/(detail.testResults.totalPassed + detail.testResults.totalFailed + detail.testResults.totalNotrun))*100 | number:0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(detail.testResults.totalPassed/(detail.testResults.totalPassed + detail.testResults.totalFailed + detail.testResults.totalNotrun))*100 | number:0}}%">
                            Pass Rate: {{(detail.testResults.totalPassed/(detail.testResults.totalPassed + detail.testResults.totalFailed + detail.testResults.totalNotrun))*100 | number:0}} %
                        </div>
                    </div>
                    <div class="progress" ng-show="(detail.testResults.totalPassed == 0 && (detail.testResults.totalFailed +  detail.testResults.totalNotrun) >  0)">
                        <div  class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{((detail.testResults.totalFailed + detail.testResults.totalNotrun)/(detail.testResults.totalPassed + detail.testResults.totalFailed + detail.testResults.totalNotrun))*100 | number:0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{((detail.testResults.totalFailed + detail.testResults.totalNotrun)/(detail.testResults.totalPassed + detail.testResults.totalFailed + detail.testResults.totalNotrun))*100 | number:0}}%">
                            Fail Rate: {{((detail.testResults.totalFailed + detail.testResults.totalNotrun)/(detail.testResults.totalPassed + detail.testResults.totalFailed + detail.testResults.totalNotrun))*100 | number:0}} %
                        </div>
                    </div>

                </div>
            </div>

            <!-- Close button -->
        </div>
        <div class="widget-detail-body">
           <!--  {{detail}} -->
            <!--(result.result != 'Passed') ? 'red':'green'"-->
            <div class="row" ng-class="{Notrun:result.result=='Not Run',Passed:result.result=='Passed',Failed:result.result=='Failed'}" ng-repeat="result in detail.testResults.testCases.results | orderBy:['timeExecuted', 'testCaseName'] track by $index">

                <!-- <div class="col-md-2" style="font-size:12px">
                    <span>{{result.timeExecuted | date:'MMM d, HH:mm:ss'}}</span>
                </div>
                <div class="col-md-2">
                    {{result.result}}
                </div> -->
                <div class="col-md-1 border-bottom"  ng-show="(result.result == 'Passed')" class="servers-up"><span class="fa fa-check Passed"></span>
                </div>
                <div class="col-md-1 border-bottom" ng-show="(result.result == 'Failed')" class="servers-down"><span class="fa fa-times Failed"></span>
                </div>
                <div class="col-md-1 border-bottom" ng-show="(result.result == 'Not Run')" class="servers-notrun"><span class="fa fa-exclamation Notrun"></span>
                </div>
                <div class="col-md-11 border-bottom" style="font-size:12px;word-wrap:break-word; display:inline-block;">
                    {{result.testCaseName}}
                </div>
            </div>

        </div>
    </div>
</widget-modal>