<div ng-controller="CapOneTemplateController as template">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <!-- <a ng-href="#/" class="dashboard-logo"></a> -->
                <a ng-href="#/" class="pull-left" title="Home"><i aria-hidden="true" class="fa fa-home"></i></a>
                {{::ctrl.dashboard.title}}


            </div>
        </nav>
    </div>

    <div class="dashboard-widgets container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Widget'">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12">
                        <widget name="deployall" widget-title="Deploy"></widget>

                    </div>
                </div>

            </div>


        </div>
    </div>



</div>
