<div ng-controller="CapOneTemplateController as template">
    <div id="header">
    	<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <!-- <a ng-href="#/" class="dashboard-logo"></a> -->
                <a ng-href="#/" class="pull-left" title="Home"><i aria-hidden="true" class="fa fa-home"></i></a>
                {{::ctrl.dashboard.title}}

               
            </div>
        </nav>
        
    </div>

    <div class="dashboard-widgets container-fluid"  style="height:1600px" widget-container dashboard="ctrl.dashboard">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12">
						<widget name="jira-team-velocity" widget-title="Team Velocity"></widget>
						<widget name="jira-release-status" widget-title="Release Status"></widget>
                      
                    </div>
                </div>
                <!--</div>-->
            </div>

            <div class="col-md-4">
              	<widget name="jira-acceptance-coverage" widget-title="Acceptance Coverage"></widget>
               <widget name="jira-storypint-earned" widget-title="Storypoint Earned"></widget>
            </div>

            <div class="col-md-4">

                <div class="row margin-deploy">
                   

                    <div class="col-sm-6 col-md-12">
                       <widget name="jira-defect-slipage-rate" widget-title="Defect Slipage Rate"></widget>
                       <widget name="jira-defect-injection-rate" widget-title="Defect Injection Rate"></widget>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
