<widget-modal widget-modal-title="Configure Jenkins Cucumber Widget">
<!-- {{catalystRepoConfig.catalystprojects}} -->
    
    
    <form class="functional-config" name="configForm" ng-submit="CucumberConfig.submit(configForm.$valid)" novalidate="novalidate">
        <form-group input="functionalStack" errors="{required:'Please select your project'}">
            <select name="functionalStack"
                    class="form-control"
                    ng-model="CucumberConfig.job"
                    ng-options="job.name for job in CucumberConfig.jobs | orderBy: 'name' track by job.value"
                    ng-disabled="CucumberConfig.jobDropdownDisabled"
                    required>
                <option value="">{{CucumberConfig.jobDropdownPlaceholder}}</option>
            </select>
        </form-group>

        <hr/>

        <!-- <div class="form-group text-center">
            <label class="modal-label">
                Alert takeover criteria:
            </label>
            <br/>
            If any environment is down
        </div> -->

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
    
    
</widget-modal>