<div class="project-view" ng-model="projectView">
     <!-- Removed dropdown based on feedback -->
    <div class="col-xs-9.5 text-standard-sm dash-overflow">
        Version: {{projectVersionView.jiraDashboard.issueSummary.versionName}}
    </div>
     <div class="col-xs-9.5 text-standard-sm dash-overflow">

       <table class="table">
       		<tr>
       			<td colspan="5">
       				
       			</td>
       		</tr>
       		<tr>
       			<td>Issues</td>
       			<td>Done</td>
       			<td>In Progress</td>
       			<td>To Do</td>
            
       			<td></td>
       		</tr>
       		<tr class="issue-datarow pointer" ng-click="projectVersionView.showDetail(projectVersionView.jiraDashboard)" style="cursor:pointer">
       			<td>{{projectVersionView.jiraDashboard.issueSummary.issueCount}}</td>
       			<td>{{projectVersionView.jiraDashboard.issueSummary.doneCount}}</td>
       			<td>{{projectVersionView.jiraDashboard.issueSummary.inprogressCount}}</td>
       			<td>{{projectVersionView.jiraDashboard.issueSummary.pendingCount}}</td>
            
       			 <td class="" style="text-align:right" >
            
                <span class="build-chevron pull-right fa fa-lg fa-angle-right"></span>
            	</td>
       		</tr>
          <tr>
            <td colspan="5"><hr/>
            </td>
          </tr>
          <tr>
            <td colspan="5">
                 <chartist class="ct-chart ct-major-twelfth"
                  chartist-chart-type="Pie"
                  chartist-data="projectVersionView.jiraDashboard.chartData"
                  chartist-chart-options="projectVersionView.pieOptions"                
                ></chartist>
            </td>
          </tr>
       </table>
     
     </div>
     <!--  <div class="col-xs-9.5 text-standard-sm dash-overflow">
        Sprint: {{projectVersionView.jiraDashboard.sprintSummary.sprintName}}
     </div>
     <div class="col-xs-9.5 text-standard-sm dash-overflow">
     <table class="table">
       		<tr>
       			<td colspan="5">
       				
       			</td>
       		</tr>
       		<tr>
       			<td>Total</td>
       			<td>Done</td>
       			
       			<td>To Do</td>
            <td>In Progress</td>
       			<td></td>
       		</tr>
       		<tr class="issue-datarow pointer" ng-click="projectVersionView.showDetailSprint(projectVersionView.jiraDashboard)" style="cursor:pointer">
       			<td>{{projectVersionView.jiraDashboard.sprintSummary.total}}</td>
       			<td>{{projectVersionView.jiraDashboard.sprintSummary.doneTotal}}</td>
       			
       			<td>{{projectVersionView.jiraDashboard.sprintSummary.pendingTotal}}</td>
            <td>{{projectVersionView.jiraDashboard.sprintSummary.progressTotal}}</td>
       			 <td class="" style="text-align:right" >
            
                <span class="build-chevron pull-right fa fa-lg fa-angle-right"></span>
            	</td>
       		</tr>
          <tr>
            <td colspan="5"><hr/>
            </td>
          </tr>
          
       </table>
     </div> -->
</div>