dbname=dashboard
dbusername=
dbpassword=
dbport=27017
server.contextPath=/api
server.port=8080


jenkins.server=http://jenkins.rlcatalyst.com
jenkins.username=rluser
jenkins.apiKey=52779d3b8d0ae508cf519d56172fc699

